.calendar {
	--min-block-size: 4rem;
	--max-block-size: auto;
	--min-inline-size: 5rem;
	--max-inline-size: 1fr;
	--header-block-size: 7.75rem;
	--grid-calendar-columns: 2.875rem
		repeat(7, minmax(var(--min-inline-size), var(--max-inline-size)));

	color: var(--gray20);
	padding-inline-end: 1.5rem;
	padding-inline-start: 1.25rem;

	&-header {
		block-size: var(--header-block-size);
		display: grid;
		grid-template-columns: var(--grid-calendar-columns);
		position: sticky;
		top: 0;
		z-index: 1;
	}

	&-week {
		display: grid;
		grid-template-columns: var(--grid-calendar-columns);
		grid-template-rows: repeat(
			25,
			minmax(var(--min-block-size), var(--max-block-size))
		);
		min-inline-size: 43.75rem;
		block-size: calc(
			100vh - (var(--header-block-size) + var(--min-block-size))
		);
		overflow: overlay;

		&:hover {
			&::-webkit-scrollbar-thumb {
				background: #bdc1c6;
			}
		}

		&::-webkit-scrollbar {
			block-size: 0.5rem;
			inline-size: 0.5rem;
		}

		&::-webkit-scrollbar-thumb {
			background: #dadce0;
			border-radius: 1.5rem;

			&:active {
				background: #80868b;
			}
		}

		&::-webkit-scrollbar-track {
			background: none;
		}
	}
}
