.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: 1rem 1.5rem;
	border-block-end: 1px solid var(--gray10);

	&-block {
		display: flex;
		align-items: center;
		gap: 3rem;
	}

	&-logo img {
		vertical-align: middle;
	}
}
