.miniCalendar {
	--cellSize: 1.75rem;
	font: var(--body3-regular);
	inline-size: 12.25rem;
}

.miniCalendar-header {
	display: grid;
	place-items: center;
	grid-template-columns: repeat(7, var(--cellSize));
	line-height: var(--cellSize);
	margin-block-start: 0.5rem;
}

.miniCalendar-date {
	font: var(--body1-medium);
}

.miniCalendar-status {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-inline-start: 0.25rem;
}

.miniCalendar-month {
	display: grid;
	grid-template-columns: repeat(7, var(--cellSize));
	grid-template-rows: repeat(6, var(--cellSize));
}

.miniCalendar-day {
	display: grid;
	place-content: center;
	cursor: pointer;
	padding: 0.25rem;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	transition: background 100ms linear;
	-webkit-transition: background 100ms linear;
	-moz-transition: background 100ms linear;
	-ms-transition: background 100ms linear;
	-o-transition: background 100ms linear;
}

.miniCalendar-day:hover {
	background: var(--gray10);
}

.miniCalendar-day.is-selected {
	background: var(--blue10);
	color: var(--white);
}

.miniCalendar-day.is-selected:hover {
	background: var(--blue30);
}

.miniCalendar-day.is-inactive {
	color: var(--gray20);
}
