.search {
	position: relative;

	&::before {
		display: block;
		content: '';
		background: var(--blue10);
		position: absolute;
		block-size: 1px;
		inline-size: 100%;
		inset-block-end: 0;
		transform: scaleX(0);
		transition: transform 0.25s ease-in-out;
	}

	&.is-focused::before {
		transform: scale(1);
	}

	&-input {
		background: var(--gray10);
		background-repeat: no-repeat;
		background-position: left 1rem center;
		border: none;
		padding-block: 0.625rem;
		padding-inline: 1rem;
		outline: none;
		border-radius: 0.25rem;
		box-sizing: border-box;
		inline-size: 100%;

		&:not(:placeholder-shown) {
			background-image: none;
		}

		&:placeholder-shown {
			background-image: url('../assets/icons/users.svg');
		}
	}
}

::-webkit-input-placeholder {
	transform: translateX(1.5rem);
}
