.calendarDay {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	position: sticky;
	inset-block-start: 0;
	border-bottom: 1px solid currentColor;
	background: var(--white);
	z-index: 1;

	&::before {
		content: '';
		inline-size: 1px;
		block-size: 56px;
		background: currentColor;
		position: absolute;
		inset-inline-start: 0;
		inset-block-end: 0;
	}

	&-date {
		display: flex;
		flex-direction: column;
		text-align: center;
		text-transform: uppercase;
	}

	a {
		text-decoration: none;
		color: currentColor;
		outline: none;
	}

	span {
		&:nth-of-type(1) {
			font: var(--body1-medium);
		}

		&:nth-of-type(2) {
			font: var(--subtitle-subtitle1);
			inline-size: 2.75rem;
			line-height: 2.75rem;
			border-radius: 50%;
		}
	}

	a:focus,
	a:hover {
		span:nth-of-type(2) {
			background: var(--gray10);
		}
	}

	&.is-selected {
		span {
			&:nth-of-type(1) {
				color: var(--blue10);
			}

			&:nth-of-type(2) {
				background: var(--blue10);
				color: var(--white);
			}
		}

		a:hover,
		a:focus {
			span:nth-of-type(1) {
				color: var(--blue30);
			}

			span:nth-of-type(2) {
				background: var(--blue30);
			}
		}
	}
}
