.currentTime {
	block-size: 2px;
	background: var(--red10);
	position: absolute;
	inset-inline-start: 0;
	inset-inline-end: 0;

	&::before {
		content: '';
		block-size: 1rem;
		inline-size: 1rem;
		background: var(--red10);
		border-radius: 50%;
		position: absolute;
		inset-inline-start: 0;
		inset-block-end: calc(50% - 0.5rem);
	}
}
