.input {
	padding-block: 0.25rem;
	border: none;
	outline: none;
	box-sizing: border-box;
	inline-size: 100%;
	transition: box-shadow 0.2s;
	font: var(--body1-regular);

	&.is-title {
		box-shadow: inset 0 -1px var(--gray10);
		font: var(--subtitle-subtitle1);
	}

	&.is-solid,
	&.is-file {
		color: var(--gray90);
		border-radius: 0.25rem;
		padding-inline: 0.75rem;
		padding-block: 0.625rem;

		&:hover,
		&:focus {
			background-color: var(--gray10);
		}
	}

	&:focus {
		box-shadow: inset 0 -1px var(--blue10);
		border-radius: 0.25rem 0.25rem 0 0;
	}

	&.is-file {
		&::before {
			content: 'Agregar descripción o archivo adjuntos';
			color: var(--gray20);
		}

		&::-webkit-file-upload-button {
			visibility: hidden;
		}
	}
}
