.select {
	padding-block: 0.5rem;
	padding-inline: 0.75rem;
	padding-inline-end: 2rem;
	border-radius: 0.25rem;
	font: var(--button-button);
	appearance: none;
	background: url(../assets/icons/down.svg) no-repeat right center;
	background-position: right 0.75rem center;
	outline: none;
	cursor: pointer;

	&:hover,
	&:focus {
		background-color: var(--gray10);
	}
}
