.taskCell {
	border-inline-start: 1px solid currentColor;
	border-block-end: 1px solid currentColor;
	padding-block: 0.25rem;

	&is-active::before {
		content: '(Sin título)';
		font-size: small;
		background: #039be5;
		padding: 0.25rem;
		color: var(--white);
		display: block;
		border-radius: 0.25rem;
		box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.14),
			0px 1px 18px 0px rgba(0, 0, 0, 0.12), 0px 3px 5px -1px rgba(0, 0, 0, 0.2);
	}
}
