.task {
	background: var(--blue10);
	padding-block: 0.625rem;
	padding-inline-start: 1rem;
	border-radius: 0.25rem;
	color: var(--white);
	position: relative;
	inset-inline-start: -0.25rem;
	overflow: hidden;
	font: var(--body2-medium);
	display: flex;
	flex-direction: column;
	gap: 0.25rem;

	p {
		margin: 0;
		white-space: nowrap;
	}
}
