.page {
	display: grid;
	grid-template-columns: 15.25rem 1fr;
	grid-template-rows: 6rem 1fr;
	block-size: 100vh;
	grid-template-areas:
		'header    header'
		'sidebar calendar';

	.header {
		grid-area: header;
	}

	.sidebar {
		grid-area: sidebar;
	}

	.calendar {
		grid-area: calendar;
	}
}
