:root {
	--white: #fffffe;
	--gray50: #222222;
	--gray20: #70757a;
	--gray10: #f1f3f4;
	--gray30: #3c4043;
	--blue10: #1a73e8;
	--blue20: #039be5;
	--red10: #e8453c;
	--green10: #33b679;
	--blue30: #1967d2;
	--orange: #f4511e;
	--purple: #3f51b5;
}
