:root {
	--fontBase: 'Roboto', sans-serif;
	--body1-regular: 400 0.875rem/1.25rem var(--fontBase);
	--body1-medium: 500 0.875rem/1.25rem var(--fontBase);
	--body3-medium: 500 0.625rem/0.5rem var(--fontBase);
	--body3-regular: 400 0.625rem/0.5rem var(--fontBase);
	--body2-regular: 400 0.75rem/1rem var(--fontBase);
	--body2-medium: 500 0.75rem/1rem var(--fontBase);
	--button-button: 500 0.875rem/1rem var(--fontBase);
	--subtitle-subtitle1: 400 1.375rem/1.75rem var(--fontBase);
}
